[Unit]
Description=Mute Audio on certain networks
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=%h/Programme/scripts/netmute.py

