[Unit]
Description=Mute Audio on certain networks
After=network.target

[Service]
ExecStart=%h/Programme/scripts/netmute.py

[Install]
WantedBy=default.target
